<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UIForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UIForm.sys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UIForm.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>gfgf</value>
            </setting>
        </UIForm.Properties.Settings>
        <UIForm.sys>
            <setting name="username" serializeAs="String">
                <value>chengning</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>chengning</value>
            </setting>
            <setting name="safeIniSrc" serializeAs="String">
                <value>\\10.10.134.71\lisvss_src\srcsafe.ini</value>
            </setting>
            <setting name="safeIniDoc" serializeAs="String">
                <value>\\10.10.134.71\lisvss_doc\srcsafe.ini</value>
            </setting>
            <setting name="localWorkspace" serializeAs="String">
                <value>D:\Work\Task</value>
            </setting>
            <setting name="localProjectP" serializeAs="String">
                <value>D:\Work\Dev\Workspace\AB-P-devlis</value>
            </setting>
            <setting name="localProjectG" serializeAs="String">
                <value>D:\Work\Dev\Workspace\AB-G-devlis</value>
            </setting>
            <setting name="vssProjectP" serializeAs="String">
                <value>$/AB-P-devlis</value>
            </setting>
            <setting name="vssProjectG" serializeAs="String">
                <value>$/AB-G-devlis</value>
            </setting>
            <setting name="vssUpdatePath" serializeAs="String">
                <value>$/B-更新目录/03-数据更新/01核心</value>
            </setting>
            <setting name="TaskPrex" serializeAs="String">
                <value>ABLREQUEST</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>程宁</value>
            </setting>
            <setting name="JiraUrl" serializeAs="String">
                <value>http://jira.abic.com/browse/</value>
            </setting>
        </UIForm.sys>
    </userSettings>
</configuration>